<div class="movies-list-wrapper">
  <form class="form">
    <input class="input" name="query" type="text">
    <button class="submit-button" type="submit">search</button>
  </form>
  <ul class="movies-list"></ul>
</div>

<div class="pagination-wrapper">
  <ul class="pagination-list">
    <li class="pagination-item">
      <button class="pagination-button" type="button" data-page="" disabled="true">&#65124</button></li>
    <li class="pagination-item">
      <button class="pagination-button active" type="button" data-page="1">1</button>
    </li>
    <li class="pagination-item">
      <button class="pagination-button" type="button" data-page="2">2</button>
    </li>
    <li class="pagination-item">
      <button class="pagination-button" type="button" data-page="3">3</button>
    </li>
    <li class="pagination-item">
      <button class="pagination-button" type="button" data-page="4">4</button>
    </li>
    <li class="pagination-item">
      <button class="pagination-button" type="button" data-page="5">5</button>
    </li>
    <li class="pagination-item">
      <button class="pagination-button" type="button" data-page="6">6</button>
    </li>
    <li class="pagination-item">
      <button class="pagination-button" type="button" data-page="7">7</button>
    </li>
    <li class="pagination-item">
      <button class="pagination-button" type="button" data-page="8">8</button>
    </li>
    <li class="pagination-item">
      <button class="pagination-button pagination-dots" type="button" data-page="9">...</butto
        n></li>
    <li class="pagination-item">
      <button class="pagination-button" type="button" data-page="2">&#65125</button></li>
  </ul>
</div>
